@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   margin: 0;
   padding: 0;
}

option {
   background: white;
}

select {
   appearance: none;
   background: linear-gradient(lightgrey 0%, white 60%);
   border: 0;
   border-radius: 0.25rem;
   box-shadow: inset 0 0 0.25rem grey;
   padding: 0.125rem 2rem 0.125rem 0.5rem;
}

select:hover {
   cursor: pointer;
}

.btn {
   background: lightgrey;
   border: 1px solid darkgrey;
   border-radius: 0.5rem;
   flex: 0.5;
   padding: 0.25rem 0.5rem;
   text-align: center;
   transition: 250ms;
}

.btn:hover {
   background: darkgrey;
   border: 1px solid grey;
   box-shadow: 0 0 0.5rem darkgrey;
   color: white;
   cursor: pointer;
}

.custom-select {
   pointer-events: none;
   position: relative;
   --rot: 90deg;
}

.custom-select > select {
   pointer-events: auto;
   width: 100%;
}

.custom-select:focus-within {
   --rot: -90deg;
}

.custom-arrow {
   pointer-events: none;
   position: absolute;
   right: 0.75rem;
   top: 0.125rem;
   transform: rotate(var(--rot));
   user-select: none;
   transition: 250ms;
}

.flex-center {
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 4rem;
}

.flex-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer {
   bottom: 0;
   font-size: 1rem;
   padding: 1rem;
   position: fixed;
   text-align: center;
   width: 100%;
   z-index: -1;
}

.header {
   align-items: center;
   background: white;
   box-shadow: 0 0 1rem darkgrey;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem 1rem;
}

.header--hud {
   align-items: center;
   display: flex;
   gap: 1rem;
}

.header--title {
   font-size: 2rem;
}

.input-checkbox {
   height: 1rem;
   margin: 0.4rem 0;
}

.input-number {
   background: linear-gradient(lightgrey 0%, white 60%);
   border: 0;
   border-radius: 0.25rem;
   box-shadow: inset 0 0 0.25rem grey;
   padding: 0.125rem 2rem 0.125rem 0.5rem;
}

.input-number:focus {
   outline: none;
}

.menu {
   background: white;
   border: 1px solid grey;
   border-radius: 1rem;
   box-shadow: 0 0 3rem darkgrey;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.menu--buttons-container {
   display: flex;
   gap: 0.5rem;
   justify-content: right;
}

.menu--settings-container {
   display: flex;
   gap: 0.5rem;
   margin: 0.5rem;
}

.menu--title {
   background: grey;
   box-shadow: inset 0 0 2rem black;
   color: white;
   font-size: 2rem;
   margin: 0.5rem 0 0 0;
   text-align: center;
   text-shadow: 0.0625rem 0.0625rem 0.25rem black;
}

.settings {
   border: 1px solid grey;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   padding: 0 0.5rem;
}

.flex-row {
   align-items: center;
   border-bottom: 1px solid lightgrey;
   display: flex;
   gap: 0.5rem;
   justify-content: start;
   padding: 0.5rem 0;
}

.flex-row:last-child {
   border-bottom: 0px solid lightgrey;
}

.four-item-row > * {
   width: 9rem;
}

.four-item-row > *:first-child {
   width: 1rem;
}

.two-item-row > * {
   width: 9rem;
}

.two-item-row > .input-checkbox {
   width: 1rem;
}