@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
   --accent: green;
   --accent-dark: darkgreen;
   --transition-speed: 250ms;
}

* {
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   margin: 0;
   padding: 0;
}

input {
   outline: none;
}

option {
   background: white;
}

select {
   appearance: none;
   background: linear-gradient(lightgrey 0%, white 60%);
   border: 0;
   border-radius: 0.25rem;
   box-shadow: inset 0 0 0.25rem grey;
   padding: 0.125rem 2rem 0.125rem 0.5rem;
   outline: none;
}

select:hover {
   cursor: pointer;
}

.btn {
   align-items: center;
   background: white;
   border-radius: 1rem;
   box-shadow: 0 0 0.5rem darkgrey;
   display: flex;
   gap: 0.5rem;
   justify-content: center;
   padding: 0.25rem 0.75rem;
   position: relative;
   transition: var(--transition-speed);
   user-select: none;
   width: fit-content;
}

.btn:hover {
   box-shadow: 0 0 0.5rem black;
   background: lightgrey;
   cursor: pointer;
}

.btn-open-menu {
   left: 1rem;
   top: 1rem;
}

.btn-open-menu-hide {
   top: -3rem;
}

.custom-select {
   pointer-events: none;
   position: relative;
   --rot-select-arrow: 90deg;
}

.custom-select > select {
   pointer-events: auto;
   width: 100%;
}

.custom-select:focus-within {
   --rot-select-arrow: -90deg;
}

.custom-arrow {
   pointer-events: none;
   position: absolute;
   right: 0.75rem;
   top: 0.125rem;
   transform: rotate(var(--rot-select-arrow));
   user-select: none;
   transition: var(--transition-speed);
}

.download {
   align-items: center;
   display: flex;
   gap: 0.5rem;
   transition: var(--transition-speed);
   user-select: none;
}

.download:hover {
   color: grey;
   cursor: pointer;
}

.flex-center {
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 4rem;
}

.flex-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer {
   bottom: 0;
   font-size: 1rem;
   padding: 1rem;
   position: fixed;
   text-align: center;
   width: 100%;
   z-index: -1;
}

.header {
   align-items: center;
   background: white;
   box-shadow: 0 0 1rem darkgrey;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem 1rem;
   position: relative;
   z-index: 1;
}

.header--hud-hide {
   opacity: 0;
   pointer-events: none;
   user-select: none;
}

.header--hud {
   align-items: center;
   display: flex;
   gap: 1rem;
   transition: var(--transition-speed);
}

.header--title {
   font-size: 2rem;
}

.input-checkbox {
   height: 1rem;
   margin: 0.4rem 0;
}

.input-number {
   background: linear-gradient(lightgrey 0%, white 60%);
   border: 0;
   border-radius: 0.25rem;
   box-shadow: inset 0 0 0.25rem grey;
   padding: 0.125rem 0.375rem 0.125rem 0.5rem;
}

.maze-container {
   padding-bottom: 10rem;
   perspective: 100rem;
   position: absolute;
   width: 100%;
   --rot-maze: 0deg;
   --opacity-maze: 1;
}

.maze-hide {
   pointer-events: none;
   user-select: none;
   --rot-maze: -90deg;
   --opacity-maze: 0;
}

.maze {
   background: white;
   border: 1px solid grey;
   border-radius: 1rem;
   box-shadow: 0 0 3rem darkgrey;
   opacity: var(--opacity-maze);
   padding: 1rem;
   transform: rotateY(var(--rot-maze));
   transform-origin: right;
   transition: var(--transition-speed) ease-in-out;
}

.canvasContainer {
   position: relative;
}

.maze canvas {
   position: absolute;
}

.menu-container {
   padding-bottom: 10rem;
   perspective: 100rem;
   position: absolute;
   width: 100%;
   --rot-menu: 0deg;
   --opacity-menu: 1;
}

.menu-hide {
   --rot-menu: 90deg;
   --opacity-menu: 0;
}

.menu-hide * {
   pointer-events: none;
   user-select: none;
}

.menu-hide select {
   pointer-events: none;
   user-select: none;
}

.menu {
   background: white;
   border: 1px solid grey;
   border-radius: 1rem;
   box-shadow: 0 0 3rem darkgrey;
   display: flex;
   flex-direction: column;
   opacity: var(--opacity-menu);
   overflow: hidden;
   transform: rotateY(var(--rot-menu));
   transform-origin: left;
   transition: var(--transition-speed) ease-in-out;
}

.menu-btn {
   background: lightgrey;
   border: 1px solid darkgrey;
   border-radius: 0.5rem;
   flex: 0.5;
   padding: 0.25rem 0.5rem;
   text-align: center;
   transition: var(--transition-speed);
   user-select: none;
}

.menu-btn:hover {
   background: darkgrey;
   border: 1px solid grey;
   box-shadow: 0 0 0.5rem darkgrey;
   color: white;
   cursor: pointer;
}

.menu--buttons-container {
   display: flex;
   gap: 0.5rem;
   justify-content: right;
}

.menu--settings-container {
   display: flex;
   gap: 0.5rem;
   margin: 0.5rem;
}

.menu--title {
   background: grey;
   box-shadow: inset 0 0 2rem black;
   color: white;
   font-size: 2rem;
   margin: 0.5rem 0 0 0;
   text-align: center;
   text-shadow: 0.0625rem 0.0625rem 0.25rem black;
}

.settings {
   border: 1px solid grey;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   padding: 0 0.5rem;
}

.flex-row {
   align-items: center;
   border-bottom: 1px solid lightgrey;
   display: flex;
   gap: 0.5rem;
   justify-content: start;
   padding: 0.5rem 0;
}

.flex-row:last-child {
   border-bottom: 0px solid lightgrey;
}

.four-item-row > * {
   width: 9rem;
}

.four-item-row > *:first-child {
   width: 1rem;
}

.two-item-row > * {
   width: 9rem;
}

.two-item-row > .input-checkbox {
   width: 1rem;
}