@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Poppins', sans-serif;
}

input {
   height: 1rem;
   margin: auto;
}

.btn {
   background: lightgrey;
   border: 1px solid darkgrey;
   border-radius: 0.25rem;
   padding: 0.25rem 0.5rem;
   transition: 250ms;
}

.btn:hover {
   background: darkgrey;
   border: 1px solid grey;
   box-shadow: 0 0 0.5rem darkgrey;
   color: white;
   cursor: pointer;
}

.flex-center {
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 4rem;
}

.flex-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer {
   bottom: 0;
   font-size: 1rem;
   padding: 1rem;
   position: fixed;
   text-align: center;
   width: 100%;
}

.header {
   align-items: center;
   box-shadow: 0 0 1rem darkgrey;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem 1rem;
}

.header--hud {
   align-items: center;
   display: flex;
   gap: 1rem;
}

.header--title {
   font-size: 2rem;
}

.menu {
   border: 1px solid grey;
   border-radius: 0.5rem;
   box-shadow: 0 0 1rem darkgrey;
   display: flex;
   flex-direction: column;
}

.menu--buttons-container {
   display: flex;
   gap: 0.5rem;
   justify-content: right;
}

.menu--settings-container {
   display: flex;
   gap: 0.5rem;
   margin: 0.5rem;
}

.menu--settings-container > div:first-child {
   flex: 3;
}

.menu--settings-container > div:last-child {
   flex: 2;
}

.menu--title {
   background: grey;
   color: white;
   font-size: 2rem;
   margin: 0.5rem 0 0 0;
   text-align: center;
}

.settings {
   border: 1px solid grey;
   border-radius: 0.25rem;
   display: grid;
   gap: 0.5rem 1rem;
   padding: 0.5rem
}

.grid-left-align {
   justify-self: left;
   margin: auto 0.5rem;
}

.grid-right-align {
   justify-self: right;
   margin: auto 0.5rem;
}

.grid-span-four {
   grid-column: span 4;
}

.grid-span-two {
   grid-column: span 2;
}

.grid-temp-four {
   grid-template-columns: 1fr 3fr 3fr 3fr;
}

.grid-temp-two {
   grid-template-columns: 4fr 1fr;
}

.settings--separator {
   border-bottom: 1px solid lightgrey;
}

/*
.options-row {
   align-items: center;
   display: flex;
   gap: 1rem;
   justify-content: space-between;
}

.options-row--section {
   align-items: center;
   display: flex;
   gap: 1rem;
}

.settings {
   border: 1px solid grey;
   border-radius: 0.25rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   padding: 0.5rem
}
*/